li ,ul{
    list-style: none;
}
li,ul,a{
    text-decoration: none;
}
ul{
display: flex;
justify-content: space-between;

}
a{
    font-size: 35px;
    color: blue;
}
ul{
    background-color: red;
    border: 5px solid ;
    border-radius: 50px;

}
.active{
    background-color: rgb(157, 223, 223);
}
