<!-- <h1 *ngIf="show">these is day _2</h1>

<table [border]="4">
  <tr *ngFor="let item of movies" >
    <td>{{item}}</td>
  </tr>
</table> -->



<!-- ngIf -->

<!-- <h1 *ngIf="showheading"></h1>
<h1 *ngIf="!data ;then load;else sample"></h1> -->
<!-- <div #sample>
  {{data}}
</div> -->

<!-- <ng-template #sample>
  {{data}}
</ng-template>

<ng-template #load>
  these is tmplet
</ng-template> -->



<!-- NGFOr -->


<!-- <p *ngFor="let ele of nums1;index as i">paragraph {{ele}}

{{i+1}}</p>



<table border="3">
  <tr>
    <td>index</td>
    <td>Mobiles</td>
    <td>first</td>
    <td>last</td>
    <td>odd</td>
    <td>even</td>
  </tr>
  <tr *ngFor="let item of nums1;index as i;even as e;odd as o;first as f;last as l">
    <td>{{i+1}}</td>
    <td>{{item}}</td>
    <td>{{f}}</td>
    <td>{{l}}</td>
    <td>{{o}}</td>
    <td>{{e}}</td>

  </tr>
</table>

<hr>


<table border="4">
  <tr>
    <td>mobile</td>
    <td>storage</td>
    <td>cost</td>
  </tr>
  <tr *ngFor="let m of num">
    <td>{{m.mobile}}</td>
    <td>{{m.cost}}</td>
    <td>{{m.storage}}</td>
  </tr>
</table> -->





<!-- ngSwitch -->

<!-- <input type="text"/>
 <div [ngSwitch]="op">
  <div *ngSwitchCase="'+'">{{num1+num2}}</div>
  <div *ngSwitchCase="'-'">{{num1-num2}}</div>
  <div *ngSwitchCase="'*'">{{num1*num2}}</div>
  <div *ngSwitchCase="'/'">{{num1/num2}}</div>
  <div *ngSwitchDefault></div>
</div> -->

<!-- <input [(ngModel)]="op"/> -->

<!-- <h1>{{name | titlecase}}</h1>
<h1>{{name | uppercase}}</h1>
<h1>{{name | lowercase}}</h1>
<h1>{{amount | currency}}</h1>
 -->

<!-- <h1>these is the header-parent</h1> -->

<!-- <app-header></app-header>  -->

<!-- <router-outlet></router-outlet> -->
<h1 class="text-primary">i am srikanth</h1>
<app-todoform></app-todoform>
<app-todolist></app-todolist>
